<html>
<head>
	<title>Add a Snippet</title>
</head>
<body>
	<p>Use the form below to submit your snippet; all fields are required</p>
	<form method="post" action="">
		<p>{% if form.title.errors %}
			<span class="error">
				{{ form.title.errors|join:", " }}
			</span>
		{% endif %}</p>
		<p><label for="id_title">Title: </label>
			{{ form.title }}</p>
		<p>{% if form.language.errors %}
			<span class="error">
				{{ form.language.errors|join:", "  }}
			</span>
			{% endif %}</p>
		<o><label for="id_languages">Language: </label>
			{{ form.language }}</p>
		<p>{% if form.description.errors %}
			<span class="error">
				{{ form.description.errors|join:", " }}
			</span>
			{% endif %}
		<p><label for="id_description">Description: </label></p>
		<p>{{ form.description }}</p>
		<p>{% if form.code.errors %}
			<span class="error">
				{{ form.code.errors|join:", " }}
			</span>
			{% endif %}</p>
		<p><label for="id_code">Code: </label>
		<p>{{ form.code }}</p>
		<p>{% if form.tags.errors %}
			<span class="error">
				{{ form.tags.errors|join:", " }}
			</span>
			{% endif %}</p>
		<p><label for="id_tags">Tags: </label>
			{{ form.tags }}</p>
		<p><input type="submit" value="Submit"></p>
		{% csrf_token %}
	</form>
</body>
</html>
